asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cmake==3.22.2
colorama==0.4.4
cvxopt==1.2.7
cvxpy-base==1.1.18
cvxpy-leximin==0.4.3
cycler==0.11.0
dicttools @ git+https://github.com/trzemecki/dicttools.git
dj-database-url==0.5.0
Django==4.0.3
django-filter==21.1
django-heroku==0.3.1
djangorestframework==3.13.1
docopt==0.6.2
ecos==2.0.10
-e git+https://github.com/erelsgl/fairpy.git@5acb9008d3c1372313b934389b67ee21be4861c3#egg=fairpy
fonttools==4.29.1
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.2
iniconfig==1.1.1
kiwisolver==1.3.2
Markdown==3.3.6
matplotlib==3.5.1
mip==1.13.0
mock==4.0.3
more-itertools==8.12.0
networkx==2.7
numpy==1.22.2
osqp==0.6.2.post5
packaging==21.3
Pillow==9.0.1
pipreqs==0.4.11
pluggy==1.0.0
prtpy==0.4.0
psycopg2==2.9.3
py==1.11.0
pycparser==2.21
pyparsing==3.0.7
pytest==7.0.1
python-dateutil==2.8.2
pytz==2021.3
qdldl==0.1.5.post0
repackage==0.7.3
requests==2.27.1
scipy==1.8.0
scs==3.2.0
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
tzdata==2021.5
urllib3==1.26.8
urwid==2.1.2
whitenoise==6.0.0
yarg==0.1.9
zipp==3.7.0
